<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.edu.espe.craneapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OperatorUpdateActivity"
            android:label="operatorUpdateActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.OPERATORUPDATEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>


        <activity android:name=".OperatorListActivity"
            android:label="operatorListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.OPERATORLISTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Operator"
            android:label="@string/operator"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.OPERATOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Menu"
            android:label="@string/menu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>